{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{{ title }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel='icon' type='image/png' href="{% static "images/favicon.ico" %}">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{% static "js/ciq.js" %}"></script>
		<script type="text/javascript" src="{% static "js/jquery.form.min.js" %}"></script>
		<link rel="stylesheet" href="{% static "css/ciq.css" %}" type="text/css" media="screen" charset="utf-8" />
<!--
        <script type="text/javascript" src="{% static "js/jquery-1.8.2.js" %}"></script>
        <script type="text/javascript" src="{% static "js/ag.js" %}"></script>
        <script type="text/javascript" src="{% static "bootstrap/bootstrap.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery.ba-outside-events.min.js" %}"></script>
        <script type="text/javascript" src="{% static "msgBox/Scripts/jquery.msgBox.js" %}"></script>
        <link rel="stylesheet" href="{% static "msgBox/Styles/msgBoxLight.css" %}" type="text/css" media="screen" charset="utf-8" />
        <link href="{% static "bootstrap/bootstrap.min.css" %}" rel="stylesheet" media="screen">
-->
{% block add_header %}
{% endblock %}
{% block add_header2 %}
{% endblock %}
        <script type="text/javascript">
            $(function(){
{% block jquery_ready %}{% endblock %}
                    });
        </script>
    </head>
    <body>
{% block body %}
{% endblock %}

{% block load_js %}
{% endblock %}
    </body>
</html>
